#import( "site://_brisk/core/library/velocity/chanw/chanw_library_import" )
#import( "site://_brisk/core/macros/drulykgVarDump" )

#set( $block = $_.locateBlock( "_cascade/blocks/data/test-all", "cascade-admin-old" ) )
#set( $sd = $block.StructuredData )
#chanwGetFQINodeMap( $sd )
#set( $result = "#drulykgVarDump( $chanwGetFQINodeMap )" )
$result.trim()

#* output:
    ["group"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@64ac3585 )
        ["data"] == null
        ["type"] == String(5)( "group" )
        ["size"] == Integer( 1 )
        ["subtype"] == null
        ["content"] == null
        ["site"] == null
    }
    ["group;text-box"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@1111ecdc )
        ["data"] == String(10)( "A text box" )
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(9)( "plaintext" )
        ["content"] == null
        ["site"] == null
    }
    ["group;text-area"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@2439dc84 )
        ["data"] == String(10)( "A textarea" )
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(9)( "plaintext" )
        ["content"] == null
        ["site"] == null
    }
    ["group;wysiwyg"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@52bb8aa0 )
        ["data"] == String(23)( "
<p>A new paragraph.</p>" )
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(7)( "wysiwyg" )
        ["content"] == null
        ["site"] == null
    }
    ["group;checkbox"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@691b74aa )
        ["data"] == ArrayList(array)(2) [
            [0] == String(7)( "Jogging" )
            [1] == String(8)( "Swimming" )
        ]
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(8)( "checkbox" )
        ["content"] == null
        ["site"] == null
    }
    ["group;checkbox2"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@3d3fbfbe )
        ["data"] == null
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(8)( "checkbox" )
        ["content"] == null
        ["site"] == null
    }
    ["group;dropdown"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@4786dfdd )
        ["data"] == String(8)( "Option 1" )
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(8)( "dropdown" )
        ["content"] == null
        ["site"] == null
    }
    ["group;radio"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@7530b503 )
        ["data"] == String(5)( "Maybe" )
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(5)( "radio" )
        ["content"] == null
        ["site"] == null
    }
    ["group;multiselect"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@234b702e )
        ["data"] == ArrayList(array)(2) [
            [0] == String(6)( "Year 2" )
            [1] == String(6)( "Year 3" )
        ]
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(11)( "multiselect" )
        ["content"] == null
        ["site"] == null
    }
    ["group;calendar"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@77478f56 )
        ["data"] == String(10)( "06-02-2016" )
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(8)( "calendar" )
        ["content"] == null
        ["site"] == null
    }
    ["group;date-time"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@36dd5290 )
        ["data"] == null
        ["type"] == String(4)( "text" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(8)( "datetime" )
        ["content"] == null
        ["site"] == null
    }
    ["group;page-chooser"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@131259ee )
        ["data"] == String(40)( "test/velocity/test-structured-data-nodes" )
        ["type"] == String(5)( "asset" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(4)( "page" )
        ["content"] == null
        ["site"] == SiteAPIAdapter( com.hannonhill.cascade.api.adapters.SiteAPIAdapter@89f2093 )
    }
    ["group;file-chooser"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@41315b2f )
        ["data"] == String(14)( "files/test.pdf" )
        ["type"] == String(5)( "asset" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(4)( "file" )
        ["content"] == null
        ["site"] == SiteAPIAdapter( com.hannonhill.cascade.api.adapters.SiteAPIAdapter@21c8a2b8 )
    }
    ["group;block-chooser"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@56df8ff5 )
        ["data"] == String(31)( "_cascade/blocks/data/test-xhtml" )
        ["type"] == String(5)( "asset" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(5)( "block" )
        ["content"] == null
        ["site"] == SiteAPIAdapter( com.hannonhill.cascade.api.adapters.SiteAPIAdapter@3c3fe84a )
    }
    ["group;symlink-chooser"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@6ab760b0 )
        ["data"] == String(11)( "test/google" )
        ["type"] == String(5)( "asset" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(7)( "symlink" )
        ["content"] == null
        ["site"] == SiteAPIAdapter( com.hannonhill.cascade.api.adapters.SiteAPIAdapter@7014b47e )
    }
    ["group;linkable-chooser"] == LinkedHashMap(7) {
        ["node"] == StructuredDataNodeAPIAdapter( com.hannonhill.cascade.api.adapters.StructuredDataNodeAPIAdapter@273d41bf )
        ["data"] == String(11)( "test/google" )
        ["type"] == String(5)( "asset" )
        ["size"] == Integer( 1 )
        ["subtype"] == String(7)( "symlink" )
        ["content"] == null
        ["site"] == SiteAPIAdapter( com.hannonhill.cascade.api.adapters.SiteAPIAdapter@17e9957 )
    }
}
*#