#macro( createGlobalVariable )
    #set( $newVar = 14 ) 
#end

## before the macro is invoked, $newVar is undefined
$newVar  ## => $newVar

## after the macro is invoked, the variable is defined
#createGlobalVariable
$newVar  ## => 14