#import( '/formats/library/velocity/chanw_global_values' )
#set( $macro_utilities_code = $macro_utilities_code.replaceAll( "&lt;", "<" ).replaceAll( "&gt;", ">" ).replaceAll( "&amp;", "&" ) )
#evaluate( $macro_utilities_code )