#*
The format defines macros to provide general utilities and
to facilitate:
1. Generation of global variables with values
2. Invocation of macros
3. Generation of macros
*#
#import( '/formats/library/velocity/chanw_global_utility_objects' )

#set( $MACRO_PREFIX = 'process' )

#*
Converts a string, possibly with delimiters, into Pascal case.
Example:

#chanwConvertToPascalCase( "xml-group" "-" )
$chanwConvertToPascalCase
## converting xml-group to XmlGroup
*#
#macro( chanwConvertToPascalCase $chanwMacroName $chanwDelimiter )
    #if( $chanwMacroName.class.name != $JAVA_LANG_STRING_CLASS_NAME || $chanwMacroName.length() == 0 )
        Not a String$BR 
        #stop
    #end
    
    #if( !$chanwDelimiter || $chanwDelimiter.class.name != $JAVA_LANG_STRING_CLASS_NAME )
        #set( $chanwDelimiter = '' ) ## default to empty string
    #end
    
    #if( $chanwDelimiter.length() > 0 ) ## there is a delimiter passed in
        #if( $chanwMacroName.indexOf( $chanwDelimiter ) < 0 ) ## the delimiter does not exist
            #set( $chanwConvertToPascalCase = $globalApacheWordUtils.capitalize( $chanwMacroName ) )
        #else
            #set( $chanwMacroName = $chanwMacroName.replaceAll( $chanwDelimiter, ' ' ) ) ## replace delimiters with spaces
            #set( $chanwMacroName = $globalApacheWordUtils.capitalize( $chanwMacroName ) ) ## capitalize words
            #set( $chanwConvertToPascalCase = $chanwMacroName.replaceAll( ' ', '' ) ) ## remove spaces
        #end
    #else ## no delimiter passed in
        #set( $chanwConvertToPascalCase = $globalApacheWordUtils.capitalize( $chanwMacroName ) )
    #end
#end

#*
Gets the valid file path or the default path. Invoke this macro in double quotes
in a set directive. Created by Peter.
Example:

#set( $myFile = "#chanwGetFilePath( 'images/computer-people-700x350.jpg' 'thomas-test' 'images/default.jpg' )" )
*#
#macro( chanwGetFilePath $file $site $default )
    #if( $_PropertyTool.isNull( $_.locateFile( $file, $site ) ) )
        $default
    #else
        $file
    #end
#end

#*
Dynamically creates variables assigned with values.
*#
#macro( chanwGetNodeValues $node $map )
    #foreach( $var in $map.keySet() )
        #set( $chanwNodeValue = $_EscapeTool.xml( $_XPathTool.selectSingleNode( $node, $map[ $var ] ).value ) )
        #set( $chanwSetVarValStatement = '#' + 'chanwSetVariables(' + "'$var' " + "'')" )
        #set( $chanwSetVarValStatement = '#' + 'chanwSetVariables(' + "'$var' " + "'$chanwNodeValue')" )
        #evaluate( $chanwSetVarValStatement )
    #end
#end

#*
Dynamically creates variables assigned with node sets.
*#
#macro( chanwGetNodeSets $node $map )
    #set( $chanwNameNodesMap = {} )
    #foreach( $var in $map.keySet() )
        #set( $chanwNodeSet = $_XPathTool.selectNodes( $node, $map[ $var ] ) )
        #set( $void = $chanwNameNodesMap.put( $map[ $var ], $chanwNodeSet ) )
        #set( $chanwSetVarValStatement = '#' + "set(" + $_EscapeTool.D + "$var = " + 
            $_EscapeTool.D + "chanwNameNodesMap[" + $_EscapeTool.D + "map["+ "'$var']])" )
        #evaluate( $chanwSetVarValStatement )
    #end
#end

#*
Invokes a macro with the name and parameters passed in.
Example:

#set( $file    = 'images/computer-people-700x350.jpg' )
#set( $site    = 'thomas-test' )
#set( $default = 'images/default.jpg' )
#set( $myFile  = "#chanwInvokeMacro('chanwGetFilePath' ['file', 'site', 'default'] )" )
*#
#macro( chanwInvokeMacro $chanwMacroName $chanwMacroParams )
    #if( $chanwMacroName.class.name == $JAVA_LANG_STRING_CLASS_NAME )
        #set( $chanwStatement = "#$chanwMacroName(" )
    
        #if( $chanwMacroParams.class.name == $JAVA_UTIL_ARRAY_LIST_CLASS_NAME && $chanwMacroParams.size() > 0 )
            #foreach( $chanwMacroParam in $chanwMacroParams )
                #if( $chanwMacroParam.class.name == $JAVA_LANG_STRING_CLASS_NAME )
                    #set( $chanwStatement = $chanwStatement + "$" + $chanwMacroParam + " " )
                #end
            #end
        #end
    
        #set( $chanwStatement = $chanwStatement.trim() )
        #set( $chanwStatement = $chanwStatement + ")" )
        #evaluate( $chanwStatement )
    #end
#end

#*
Reinitializes the list of variables, all assigned the empty string.
The list passed in should be variable names without the dollar signs.
Example: 

#chanwReinitializeListOfVariables( [ "first", "second", "third" ] )
*#
#macro( chanwReinitializeListOfVariables $list )
    #if( $list.class.name != $JAVA_UTIL_ARRAY_LIST_CLASS_NAME )
        A list of variable names is required.
        #stop
    #end
    #if( $list.size() > 0 )
        #foreach( $var in $list )
            #chanwSetVariables( $var "" )
        #end
    #end
#end

#*
Dynamically turns $var into a variable assigned with the value $val.
The value of $var should be a variable name without the dollar sign like "var".
Example: see chanwReinitializeListOfVariables
*#
#macro( chanwSetVariables $var $val )
    #set( $chanwValue              = $_EscapeTool.xml( $val ).trim() )
    #set( $chanwSetVarValStatement = '#' + "set(" + $_EscapeTool.D + "$var = '$chanwValue')" )
    #evaluate( $chanwSetVarValStatement )
#end

#*
Selects the first non-empty string and assigns it to the variable.
Example: 

#chanwSetVariableToNonEmptyString( "var" [ " ", "", "content" ] )
## $var assigned "content" 
*#
#macro( chanwSetVariableToNonEmptyString $var $list )
    #if( $list.class.name != $JAVA_UTIL_ARRAY_LIST_CLASS_NAME )
        Not a list!!!$BR 
        #stop
    #end
    
    #set( $size = $list.size() )
    
    #if( $size == 0 )
        Empty list!!!$BR 
        #stop
    #end
    
    #set( $chanwValue = "" ) ## empty string, the last resort
    
    #foreach( $num in [ 1..$size ] )
        #set( $index = $num - 1 )
        
        #if( $list[ $index ].class.name != $JAVA_LANG_STRING_CLASS_NAME )
            Not a String!!!$BR 
            #stop
        #end
        
        #if( $list[ $index ].trim() != "" )
            #set( $chanwValue = $list[ $index ].trim() )
            #break
        #end
    #end
    
    #chanwSetVariables( $var $chanwValue )
#end