#set( $global_values_code = $_.locateBlock( 
    "formats/library/velocity/chanw_global_values_code", "_common_assets" ).getXMLAsXMLElement().getChild( "global-values" ).Value )
#set( $global_values_code = $global_values_code.replaceAll( "&lt;", "<" ).replaceAll( "&gt;", ">" ) )
#evaluate( $global_values_code )