#import( 'site://_common_assets//formats/library/velocity/chanw_macro_utilities' )
#import( 'site://_common_assets//formats/library/velocity/chanw_process_index_block' )

#* === process legacy blocks without type info == *#
#macro( processPhpStaticInclude $systemDataStructure )
    #set( $groupToBeProcessed = $systemDataStructure.getChild( "block-group" ) )
    #chanwConvertToPascalCase( "block-group" "-" )
    #set( $macroName = $MACRO_PREFIX + $chanwConvertToPascalCase )
    #chanwInvokeMacro( $macroName [ "groupToBeProcessed" ] )
#end


#macro( processNewsArticlePreviousNext $systemDataStructure )
    
    #set( $articleIndexBlock = $systemDataStructure.getChild("article-index-block").getChild("content").getChild("system-index-block") )

    #set( $articles = $_XPathTool.selectNodes( $articleIndexBlock,
        "system-folder/system-page[name!='index']" ) )
   
    ## get all articles, aka any page on the site that has a start date:
    ##set ( $articles = $_XPathTool.selectNodes( $findIndexBlock, "system-page[name]" ) )
    ##set ( $articles = $_XPathTool.selectNodes( $findIndexBlock, "//system-page[start-date]" ) )
    $_SortTool.addSortCriterion( "start-date", "", "number", "ascending", "upper-first" )
    $_SortTool.sort( $articles )

    ## find current article:
    #foreach( $eachArticle in $articles )
        #if( $eachArticle.getAttribute( "current" ) )
            #chanwProcessSystemPage( $eachArticle )
            #set( $prevIndex    = $articles.indexOf( $eachArticle ) - 1 )
            #set( $nextIndex    = $articles.indexOf( $eachArticle ) + 1 )
            #set( $systemPageSite           = $systemPageSite.replaceAll("-dev","") )
            #set( $systemPageTitleURLd      = $systemPageTitle.replaceAll('&amp;amp;','&amp;').replaceAll(' ','%20') )
            #set( $systemPageSummaryURLd    = $systemPageSummary.replaceAll("&amp;amp;","&amp;").replaceAll(' ','%20') )
              
              
            ##get current artcle date and email link:
            ##<div id="hide-whatever">
                <div>
                Published on: $_DateTool.format( 'EEEEE, MMMM d, yyyy', $_DateTool.getDate( $systemPageStartDate ) ) &#160;
                <a href="mailto:?subject=Upstate.edu:%20$systemPageTitleURLd&amp;body=Hi,%20I%20found%20this%20website%20and%20thought%20you%20might%20find%20it%20interesting:%0D%0D$systemPageTitleURLd%0Dhttp://www.upstate.edu/$systemPageSite${systemPagePath}.php%20%0D%0D$systemPageSummaryURLd.."><img alt="Send to a Friend" class="imagerollover" src="site://Upstate-Globals/assets/images/email-rwd.gif" title="Send to a Friend" width="30" height="30"/></a>
                <a href="#" onclick="window.print()"><img alt="Print Page" class="imagerollover" src="site://Upstate-Globals/assets/images/print-rwd.gif" title="Print Page" width="30" height="30" /></a>
                </div>
            
    
    
            ##get previous and next array listings:
            #set( $prevNextList = [ $prevIndex, $nextIndex ] )
    
            ##create previous and next previews:
            #foreach( $prevNextCount in $prevNextList )
                #if( $prevNextCount >= 0 && $prevNextCount < $articles.size() )
                    #chanwProcessSystemPage( $articles[ $prevNextCount ] )
                    #set ($previewArticleYear      = $articles[$prevNextCount].getParent().getChild("name").value )
                    #set( $previewPreviousNextText = "Previous" )
                    
                    #if( $foreach.count == 2 )
                        #set( $previewPreviousNextText = "Next" )
                    #end
        
                    <div class="col-4xs-6 padleft3 padright3 padbottom3 padtop9">
                        <p class="padleft5"><strong>$previewPreviousNextText Article:</strong></p>
                        <div class="newsfeed-item">
                            <a href="$systemPageLink">
                                <div class="pad5">
                                    <img alt="$systemPageTitle.replaceAll('&amp;amp;','&amp;')" src="images/$previewArticleYear/${systemPageName}.jpg" class="img-responsive padtop5 padbottom5" />
                                    <h3>$systemPageTitle.replaceAll("&amp;amp;","&amp;")</h3>
                                    <p>$systemPageSummary.replaceAll("&amp;amp;","&amp;")</p>
                                </div>
                                <div class="clr"></div>
                            </a>   
                        </div>
                    </div>
                #end
            #end
            ##</div>
        #end
    #end    
  
#end