#import( 'formats/library/velocity/chanw_macro_utilities' )

#*=== macros used to generate div's for displaying code ===*#
#macro( createHideVelocityCode $code $id )
    #set( $code = $code.replaceAll( "<", "&lt;" ).replaceAll( ">", "&gt;" ).replaceAll( "-aa-", "&amp;&amp;" ) )
    <div id="${id}"><pre class="code">$code</pre></div>
#end

#macro( getScriptBlockCode $block_path $site_name $id )
    #set( $code = $_.locateBlock( $block_path, $site_name ).XML )
    #createHideVelocityCode( $code $id )
#end

#macro( processRedirectScript $firstChild )
    $firstChild.name
#end