#*
This format defines macros to process an index block to create a site map.
*#
#import( 'site://_common_assets//formats/library/velocity/chanw_macro_utilities' )
#import( 'site://_common_assets//formats/library/velocity/chanw_process_index_block' )

#macro( chanwCreateSiteMap $systemIndexBlock )
    #set( $pageFolderChildren = $_XPathTool.selectNodes( 
        $systemIndexBlock, "system-page[is-published='true']|system-folder[is-published='true']" ) )
    
    #if( $pageFolderChildren.size() > 0 )
        <ul>
        #foreach( $child in $pageFolderChildren )
            #if( $child.name == "system-page" )
                #chanwProcessSystemPageNode( $child )
            #else
                #chanwProcessSystemFolderNode( $child )
            #end
        #end
        </ul>
    #end
#end

#*
Processes a page.
*#
#macro( chanwProcessSystemPageNode $page )
    #set( $pageDisplayValue = "" )
    #chanwProcessSystemPage( $page )
    #chanwSetVariableToNonEmptyString( "pageDisplayValue" [ $systemPageTitle, $systemPageDisplayName, $systemPageName ] )
    <li><a href="${systemPageLink}">$pageDisplayValue</a></li>
#end

#*
Processes a folder recursively.
*#
#macro( chanwProcessSystemFolderNode $folder )
    #set( $folderDisplayValue = "" )
    #chanwProcessSystemFolder( $folder )
    #chanwSetVariableToNonEmptyString( "folderDisplayValue" [ $systemFolderDisplayName, $systemFolderName ] )
    <li>$folderDisplayValue
        #chanwCreateSiteMap( $folder ) ## recursive call
    </li>
#end