#import( 'site://_common_assets/formats/library/velocity/chanw_global_values' )
#import( 'site://_common_assets/formats/library/velocity/chanw_global_utility_objects' )

#set( $string = "   a   String      with" + $_EscapeTool.N + "   many     spaces     " )
#set( $void   = $globalStringBuffer.append( $string ) )
#set( $void   = $globalStringBuffer.append( $string ) )

$S_PRE

$globalJDOMText.normalizeString( $globalStringBuffer.toString() )
$E_PRE

#* Output:
a String with many spaces a String with many spaces
*#