#import( 'site://_common_assets/formats/library/velocity/chanw_global_values' )
#import( 'site://_common_assets/formats/library/velocity/chanw_global_utility_objects' )

#macro( chanwBuildXMLContentRoot $xml_string )
    #chanwGetConstructorByClassNameParamSize( 'java.io.StringReader' 1 )
    #set( $chanwConstructor = $chanwGetConstructorByClassNameParamSize )
    #set( $stringReader     = $chanwConstructor.newInstance( $xml_string ) )
    #set( $chanwBuildXMLContentRoot = $globalSAXBuilder.build( $stringReader ).rootElement )
#end

#set( $xml = "<books><book>Harry Potter</book><book>Little Women</book></books>" )
#chanwBuildXMLContentRoot( $xml )
#set( $contentRoot = $chanwBuildXMLContentRoot )

$S_PRE

$contentRoot.getChild( "book" ).Value ## just the first child
$E_PRE

#* Output:
Harry Potter
*#