<section id="footer">
<div class="container">
<div class="row copyright">
<div class="col-xs-12"><div class="row">
<div class="col-sm-6"><a href="https://www.hannonhill.com/legal/accessibility.html"></a><a href="https://www.hannonhill.com/legal/privacy.html">Privacy Policy</a> | <a href="https://www.hannonhill.com/legal/terms-of-use.html">Terms of Use</a></div>
<div class="col-sm-6">Copyright &#169; 2017 Hannon Hill. All rights reserved.</div>
</div></div>
</div>
</div>
</section>