#chanwProcessSystemPage( $page )
#set( $trail       = $_XPathTool.selectNodes( $contentRoot, "//system-folder" ) )
#set( $baseFolder  = "Base Folder" )
#set( $defaultPage = "index" )
    
<div id="breadcrumb-div">
<div class="container clearfix" id="breadcrumb-site-search-div">
<nav class="col-sm-9" id="breadcrumb">
    ## root-level pages, generate Home, possibly a link
    #if( $page.getParent().name == "system-index-block" )
        #if( $currentPage.name == $defaultPage )
            $rwd2BreadcrumbsHomeString
        #else
            <a href="${defaultPage}">$rwd2BreadcrumbsHomeString</a>
        #end
    ## pages in folders
    #else
        ## non-indexable page
        #if( $page.getParent().name == "calling-page" )
            <a href="${defaultPage}">$rwd2BreadcrumbsHomeString</a>
        ## generate Home link first
        #else
        <a href="${defaultPage}">$rwd2BreadcrumbsHomeString</a> $rwd2BreadcrumbsSeparatorString
        #end
        
        ## each folder
        #foreach ( $folder in $trail )
            #if( $folder.isAncestor( $page ) )
                #chanwProcessSystemFolder( $folder )
                #set( $theFolderTitle = "" )
                ## get the folder display name
                #set( $theFolderTitle = $systemFolderDisplayName.replaceAll( '&amp;amp;', '&amp;' ) )
    
                #if( $folder.getAttribute( "current" ) )
                    <a href="$systemFolderLink/$defaultPage">$theFolderTitle</a>
                        #if( $page.getParent() != $folder ) $rwd2BreadcrumbsSeparatorString #end 
                #else
                <a href="$systemFolderLink/$defaultPage">$theFolderTitle</a> $rwd2BreadcrumbsSeparatorString 
                #end
            #end
        #end
    #end
</nav>
</div>
</div>