#macro( processRowGroup $groupToBeProcessed )
    #set( $group_header = $groupToBeProcessed.getChild( "row-header" ).Value )
    #set( $block_width  = $groupToBeProcessed.getChild( "width" ).Value )
    #set( $background_classes  = $groupToBeProcessed.getChild( "background-classes" ).Value )

    #set( $group_header_position = $groupToBeProcessed.getChild( "row-header-position" ).getChild( "value" ).Value )
    #set( $is_even = $groupToBeProcessed.getChild( "even" ).getChild( "value" ).Value == "yes" )
    #set( $is_padded = $groupToBeProcessed.getChild( "padding" ).Value == "yes" )
    #set( $is_margined = $groupToBeProcessed.getChild( "margin" ).Value == "yes" )

    #if( $group_header && $group_header.trim() != "" )
        #if( $group_header_position && $group_header_position == "center" )
            #chanwReviveGlobalVariable( "RowCenterHeaderClasses" $design_namespace )
        #else
            #chanwReviveGlobalVariable( "RowDefaultHeaderClasses" $design_namespace )
        #end

        #if( $design_namespace == "hannonHill" )
            #set( $header_str = "<div class='${chanwReviveGlobalVariable}'><div class='col-md-12'><h2>$group_header</h2></div></div>" )
        #else
            #set( $header_str = "<div class='col-md-12'><h2 class='${chanwReviveGlobalVariable}'>$group_header</h2></div>" )
        #end
    #else
        #set( $header_str = '' )
    #end

    #set( $block_choosers = $_XPathTool.selectNodes( $groupToBeProcessed, "row-block-chooser/content" ) )
    
    #if( $block_choosers.size() > 0 )
        #if( $design_namespace == "hannonHill" )<section class="whiteSmokeBackground small-full-section">
        #elseif( $design_namespace == "rwd2" )
            #if( $is_margined )
                #set( $margin_style = " style='padding-bottom:30px'" )
            #else
                #set( $margin_style = "" )
            #end
        <div class="${background_classes}"${margin_style}>
        #end

        #if( $block_width == "container" )<div class="container nopadding">
        #else<div class="container-fluid nopadding">#end
$header_str
<div class="row nopadding">
        #if( $is_even )
            #if( $block_choosers.size() == 2 )
                #if( $is_padded )
                    #set( $div_class = "col-md-6" )
                #else
                    #set( $div_class = "col-md-6 nopadding" )
                #end
            #elseif( $block_choosers.size() == 3 )
                #if( $is_padded )
                    #set( $div_class = "col-md-4" )
                #else
                    #set( $div_class = "col-md-4 nopadding" )
                #end
            #elseif( $block_choosers.size() == 4 )
                #if( $is_padded )
                    #set( $div_class = "col-md-3" )
                #else
                    #set( $div_class = "col-md-3 nopadding" )
                #end
            #else
                #set( $div_class = "" )
            #end
        #end

        #foreach( $block_chooser in $block_choosers )
            #if( $is_even )
<div class="${div_class}">#chanwProcessBlockChooser( $block_chooser )</div>
            #else
                #chanwProcessBlockChooser( $block_chooser )
            #end
        #end
</div>
</div>
        #if( $design_namespace == "hannonHill" )</section>
        #elseif( $design_namespace == "rwd2" )</div>#end
    #end
#end

#macro( processWysiwygGroup $groupToBeProcessed )
    #if( $groupToBeProcessed.name != 'wysiwyg-group' )
        Not a WYSIWYG group
        #stop
    #end
    $_SerializerTool.serialize( $groupToBeProcessed.getChild( 'wysiwyg-content' ), true )
#end