<!--#protect-top<!DOCTYPE html>#protect-top-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
#* ==================== setup ==================== *#
## import the library
#set( $core_site_name = "_core" )
#import( "site://_core/formats/library/velocity/chanw_library_import" )

## the master setup format
#set( $master_site_name  = "_master_site" )
#import( "site://${master_site_name}/formats/${MASTER_SETUP_FORMAT_NAME}" )

## the design setup format
#chanwImportScript( "formats/${design_namespace}" $master_site_name $DESIGN_SETUP_FORMAT_NAME )

## the site setup format
#chanwImportScript( "/" $currentPageSiteName $SITE_SETUP_FORMAT_NAME )

## the folder setup format; there is at least one
#chanwLocateAssetInAncestorFolder(
    $currentPage.ParentFolder.Path $currentPageSiteName "format" $FOLDER_SETUP_FORMAT_NAME )
#if( $chanwLocateAssetInAncestorFolder.ParentFolder.Path != "/" )
#import( "site://${currentPageSiteName}/${chanwLocateAssetInAncestorFolder.ParentFolder.Path}/${FOLDER_SETUP_FORMAT_NAME}" )
#end

#* ==================== block processing ==================== *#
## import required formats for processing blocks
#import( "site://${master_site_name}/formats/process_block" )

## meta
#chanwReviveGlobalVariable( "Meta" $design_namespace )
#import( $chanwReviveGlobalVariable )

## title element
#chanwReviveGlobalVariable( "Title" $design_namespace )
    <title>#import( $chanwReviveGlobalVariable )</title>

## link elements
#chanwReviveGlobalVariable( "Link" $design_namespace )
#import( $chanwReviveGlobalVariable )
        <div id="show-zone1"></div>
    </head>
    <body>
#* ==================== rwd2 design ==================== *#
#if( $design_namespace == "rwd2" )
    ## accessibility
    #chanwReviveGlobalVariable( "Accessibility" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end
#* ==================== end ==================== *#

## google tag manager
#chanwReviveGlobalVariable( "Google" $design_namespace )
#import( $chanwReviveGlobalVariable )

#* ==================== rwd2 design ==================== *#
#if( $design_namespace == "rwd2" )
    ## header
    #chanwReviveGlobalVariable( "Header" $design_namespace )
    #import( $chanwReviveGlobalVariable )

    ## site nav
    #chanwReviveGlobalVariable( "SiteNav" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#* ==================== hannonHill design ==================== *#
#elseif( $design_namespace == "hannonHill" )
    ## nav-demo
    #chanwReviveGlobalVariable( "NavDemo" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end
#* ==================== end ==================== *#

## for a root-level page, there is no current folder
#set( $page = $_XPathTool.selectSingleNode( $contentRoot, "//system-folder[@current]/system-page[@current]" ) )
## root-level pages
#if( $_PropertyTool.isNull( $page ) )
    #set( $page = $_XPathTool.selectSingleNode( $contentRoot, "//system-page[@current]" ) )
#end

## breadcrumbs; $page must be set
#chanwReviveGlobalVariable( "RenderBreadcrumbs" $design_namespace )

#if( $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "Breadcrumbs" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end

<div id="show-zone2"></div>

#chanwReviveGlobalVariable( "ProcessPageSystemDataStructure" $design_namespace )

#if( $chanwReviveGlobalVariable )
    #processPageSystemDataStructure
#end

<div id="show-zone3"></div>
#* ==================== hannonHill design ==================== *#
#if( $design_namespace == "hannonHill" )
    ## contact
    #chanwReviveGlobalVariable( "Contact" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end
#* ==================== end ==================== *#

## footer
#chanwReviveGlobalVariable( "Footer" $design_namespace )
#import( $chanwReviveGlobalVariable )

## script elements
#chanwReviveGlobalVariable( "Script" $design_namespace )
#import( $chanwReviveGlobalVariable )

<div id="show-zone4"></div>
    </body>
</html>

#macro( processPageSystemDataStructure )
    #set( $pageSystemDataStructure = $page.getChild( "system-data-structure" ) )
    #set( $pageLayout              = $pageSystemDataStructure.getChild( "layout" ) )
    #set( $pageLayoutTop           = $pageLayout.getChild( "layout-top-group" ).getChild( "layout-top" ).Value )
    #set( $pageLayoutBottom        = $pageLayout.getChild( "layout-bottom-group" ).getChild( "layout-bottom" ).Value )
    #set( $h1      = $_EscapeTool.xml( $pageSystemDataStructure.getChild( "h1" ).Value ) )
    #set( $content = $pageSystemDataStructure.getChild( "wysiwyg" ) )
    
    #set( $pageHasTop    = $pageLayoutTop == 'yes' )
    #set( $pageHasBottom = $pageLayoutBottom == 'yes' )
    
    #set( $preH1ChooserContent = $pageSystemDataStructure.getChild( "pre-h1-chooser" ).getChild( "content" ) )
    
    ## pre-h1 chooser
    #chanwReviveGlobalVariable( "RenderPreH1Chooser" $design_namespace )
    
    #if( $chanwReviveGlobalVariable && $preH1ChooserContent )
        #chanwReviveGlobalVariable( "RenderPreH1ChooserInContainer" $design_namespace )
        
        #if( $chanwReviveGlobalVariable )
        <div class="container">
            #chanwProcessBlockChooser( $preH1ChooserContent )
        </div>
        #elseif( $preH1ChooserContent )
            #chanwProcessBlockChooser( $preH1ChooserContent )
        #end
    #end

    ## render h1 outside the grids
    #chanwReviveGlobalVariable( "RenderH1" $design_namespace )
    
    #if( $chanwReviveGlobalVariable )
        #chanwReviveGlobalVariable( "H1AboveGrid" $design_namespace )
        #if( $chanwReviveGlobalVariable ) 
        <div class="container"><h1>$h1</h1></div>
        #end
    #end
    
    ## the layouts format
    #import( "site://${master_site_name}/formats/layouts" )

    ## the chooser group after the wysiwyg
    #chanwReviveGlobalVariable( "RenderPostWysiwygGroup" $design_namespace )
    
    #if( $chanwReviveGlobalVariable )
        #chanwReviveGlobalVariable( "RenderPostWysiwygGroupInContainer" $design_namespace )

        #set( $postWysiwygGroupChildren = $pageSystemDataStructure.getChild( "post-wysiwyg-group" ).Children )

        #if( $postWysiwygGroupChildren.size() > 0 )
            #foreach( $postWysiwygGroupChild in $postWysiwygGroupChildren )
                #set( $postWysiwygGroupChooserContent = $postWysiwygGroupChild.getChild( "content" ) )
            
                #if( $chanwReviveGlobalVariable && $postWysiwygGroupChooserContent )
                <div class="container">
                    #chanwProcessBlockChooser( $postWysiwygGroupChooserContent )
                </div>
                #elseif( $postWysiwygGroupChooserContent )
                    #chanwProcessBlockChooser( $postWysiwygGroupChooserContent )
                #end
            #end
        #end
    #end
#end