<html lang="en-US">
    <head>
#* Except lines 7 and 11, do not hard-code any site information here *#

#* ==================== setup ==================== *#
## import the library
#set( $core_site_name = "_common_assets" )
#import( "site://${core_site_name}/formats/library/velocity/chanw_library_import" )

#* ---  the master setup format --- *#
#set( $master_site_name  = "_master_site" )
#import( "site://${master_site_name}/formats/${MASTER_SETUP_FORMAT_NAME}" )

#* --- the master override --- *#
## for a root-level page, there is no current folder
#set( $page = $_XPathTool.selectSingleNode( $contentRoot, "//system-folder[@current]/system-page[@current]" ) )
## root-level pages
#if( $_PropertyTool.isNull( $page ) )
    #set( $page = $_XPathTool.selectSingleNode( $contentRoot, "//system-page[@current]" ) )
#end
## get the script block for configuration
#set( $pageSystemDataStructure  = $page.getChild( "system-data-structure" ) )
#set( $masterLevelOverrideContent = $pageSystemDataStructure.getChild( "admin-group" ).getChild( "master-level-override" ).getChild( "content" ) )
## execute the code in the block          
#if( $masterLevelOverrideContent )
<div id="hide-master-level-override">
    #chanwProcessBlockChooser( $masterLevelOverrideContent ) ## there is no show-master-level-override anywhere
</div>
#end

## after page-level override, if global variables have not been imported, import now
#import( "site://${master_site_name}/formats/${MASTER_SETUP_GLOBAL_VARIABLES}" )

#* --- the design setup format --- *#
#chanwImportScript( "formats/${design_namespace}" $master_site_name $DESIGN_SETUP_FORMAT_NAME )

#* --- the site setup format --- *#
#chanwImportScript( $siteSetupFormatFolderPath $siteSetupFormatSiteName $siteSetupFormatName )
#set( $siteSetupFormatExists = $chanwImportScript )

#* --- the folder setup format --- *#
#set( $folderSetupFormatExists = false )
#chanwLocateAssetInAncestorFolder(
    $currentPage.ParentFolder.Path $currentPageSiteName "format" $FOLDER_SETUP_FORMAT_NAME )

#if( $chanwLocateAssetInAncestorFolder != "" && $chanwLocateAssetInAncestorFolder.ParentFolder.Path != "/" )
    #set( $folderSetupFormatExists = true )
    #import( "site://${currentPageSiteName}/${chanwLocateAssetInAncestorFolder.ParentFolder.Path}/${FOLDER_SETUP_FORMAT_NAME}" )
#end

#* --- the page override --- *#
#set( $pageLevelOverrideContent = $pageSystemDataStructure.getChild( "admin-group" ).getChild( "page-level-override" ).getChild( "content" ) )
            
#if( $pageLevelOverrideContent )
<div id="hide-page-level-override">
    #chanwProcessBlockChooser( $pageLevelOverrideContent )
</div>
#end

#* ==================== block processing ==================== *#
## import required formats for processing blocks
#import( "site://${master_site_name}/formats/process_block" )

## meta
#chanwReviveGlobalVariable( "Meta" $design_namespace )
#import( $chanwReviveGlobalVariable )

## title element
#chanwReviveGlobalVariable( "Title" $design_namespace )
    <title>#import( $chanwReviveGlobalVariable )</title>

## link elements
#chanwReviveGlobalVariable( "Link" $design_namespace )
#import( $chanwReviveGlobalVariable )

## site theme
#chanwReviveGlobalVariable( "SiteThemeCSS" $design_namespace )
#if( $chanwReviveGlobalVariable != "" )
    #set( $siteThemeURL = "http://www.upstate.edu/${chanwReviveGlobalVariable}" )
#else
    #set( $siteThemeURL = "" )
#end

#if( $siteThemeURL && $siteThemeURL != "" )
    <link href="${siteThemeURL}" media="all" rel="stylesheet"/>
#end

## local CSS
#chanwReviveGlobalVariable( "SiteLocalCSS" $design_namespace )
#if( $chanwReviveGlobalVariable != "" )
    #set( $siteLocalCSSURL = "http://www.upstate.edu/${chanwReviveGlobalVariable}" )
#end

#if( $siteLocalCSSURL && $siteLocalCSSURL != "" )
    <link href="${siteLocalCSSURL}" media="all" rel="stylesheet"/>
#end
        <div id="show-page-level-override"></div>
    </head>
    <body>

## accessibility
#chanwReviveGlobalVariable( "Accessibility" $design_namespace )
#import( $chanwReviveGlobalVariable )

## google tag manager
#chanwReviveGlobalVariable( "Google" $design_namespace )
#import( $chanwReviveGlobalVariable )

## header
#chanwReviveGlobalVariable( "Header" $design_namespace )
#import( $chanwReviveGlobalVariable )
    
<div id="show-zone1"></div>

## site nav
#chanwReviveGlobalVariable( "SiteNav" $design_namespace )
#import( $chanwReviveGlobalVariable )

<div id="show-zone2"></div>

## breadcrumbs; the variable $page must be set
#chanwReviveGlobalVariable( "RenderBreadcrumbs" $design_namespace )

#if( $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "Breadcrumbs" $design_namespace )
    #import( $chanwReviveGlobalVariable )
#end

<div id="show-zone3"></div>

#chanwReviveGlobalVariable( "ProcessPageSystemDataStructure" $design_namespace )

#if( $chanwReviveGlobalVariable )
    #processPageSystemDataStructure
#end

## footer
#chanwReviveGlobalVariable( "Footer" $design_namespace )
#import( $chanwReviveGlobalVariable )

## script elements
#chanwReviveGlobalVariable( "Script" $design_namespace )
#import( $chanwReviveGlobalVariable )

<div id="show-zone4"></div>
<a class="cd-top" href="#0">Top</a>
    </body>
</html>

#macro( processPageSystemDataStructure )
    #set( $pageLayout              = $pageSystemDataStructure.getChild( "layout" ) )
    #set( $pageLayoutTop           = $pageLayout.getChild( "layout-top-group" ).getChild( "layout-top" ).Value )
    #set( $pageLayoutBottom        = $pageLayout.getChild( "layout-bottom-group" ).getChild( "layout-bottom" ).Value )
    #set( $h1                      = $_EscapeTool.xml( $pageSystemDataStructure.getChild( "h1" ).Value ) )
    #set( $content                 = $pageSystemDataStructure.getChild( "wysiwyg" ) )
    
    #set( $pageHasTop          = $pageLayoutTop == 'yes' )
    #set( $pageHasBottom       = $pageLayoutBottom == 'yes' )
    
    #set( $preH1ChooserContent = $pageSystemDataStructure.getChild( "pre-h1-chooser" ).getChild( "content" ) )
    
    ## pre-h1 chooser
    #chanwReviveGlobalVariable( "RenderPreH1Chooser" $design_namespace )
    
    #if( $chanwReviveGlobalVariable && $preH1ChooserContent )
        #chanwReviveGlobalVariable( "RenderPreH1ChooserInContainer" $design_namespace )
        
        #if( $chanwReviveGlobalVariable )
        <div class="container">
            #chanwProcessBlockChooser( $preH1ChooserContent )
        </div>
        #elseif( $preH1ChooserContent )
            #chanwProcessBlockChooser( $preH1ChooserContent )
        #end
    #end

    ## render h1 outside the grids
    #chanwReviveGlobalVariable( "RenderH1" $design_namespace )
    #set( $renderH1 = $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "PagesWithoutH1" $design_namespace )
    #set( $pagesWithoutH1 = $chanwReviveGlobalVariable )
    
    #if( $renderH1 && !$pagesWithoutH1.contains( $currentPagePath ) )
        #chanwReviveGlobalVariable( "H1AboveGrid" $design_namespace )
        #if( $chanwReviveGlobalVariable ) 
        <div class="container nopadding-left"><h1>$h1</h1></div>
        #end
    #end
    
    ## import the layouts format
    #import( "site://${master_site_name}/formats/layouts" )

    ## the chooser group after the wysiwyg
    #chanwReviveGlobalVariable( "RenderPostWysiwygGroup" $design_namespace )
    
    #if( $chanwReviveGlobalVariable )
        #chanwReviveGlobalVariable( "RenderPostWysiwygGroupInContainer" $design_namespace )
        #set( $renderPostWysiwygGroupInContainer = $chanwReviveGlobalVariable )
        #set( $postWysiwygGroupChildren = $pageSystemDataStructure.getChild( "post-wysiwyg-group" ).Children )

        #if( $postWysiwygGroupChildren.size() > 0 )
            #foreach( $postWysiwygGroupChild in $postWysiwygGroupChildren )
                #set( $postWysiwygGroupChooserContent = $postWysiwygGroupChild.getChild( "content" ) )
            
                #if( $postWysiwygGroupChooserContent )
                    #if( $renderPostWysiwygGroupInContainer )
<div class="container">
#chanwProcessBlockChooser( $postWysiwygGroupChooserContent )
</div>
                    #else
                    #chanwProcessBlockChooser( $postWysiwygGroupChooserContent )
                    #end
                #end
            #end
        #end
    #end
#end