## global setup
#chanwReviveGlobalVariable( "HasTopRowLeftCol" $master_namespace )
#set( $siteHasTop = $chanwReviveGlobalVariable )
#chanwReviveGlobalVariable( "HasBottomRowRightCol" $master_namespace )
#set( $siteHasBottom = $chanwReviveGlobalVariable )

## design-specific layout
#if( $siteHasTop && $siteHasBottom && $pageHasTop && $pageHasBottom )
    #chanwReviveGlobalVariable( "TopLeftCssClass" $master_namespace )
    #set( $topCssClass = $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "MiddleCenterCssClass" $master_namespace )
    #set( $middleCssClass = $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "BottomRightCssClass" $master_namespace )
    #set( $bottomCssClass = $chanwReviveGlobalVariable )
#elseif( $siteHasTop && $pageHasTop ) ## no bottom right
    #chanwReviveGlobalVariable( "TopLeftCssClass" $master_namespace )
    #set( $topCssClass = $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "MiddleCenterWithNoBottomRightCssClass" $master_namespace )
    #set( $middleCssClass = $chanwReviveGlobalVariable )
#elseif( $siteHasBottom && $pageHasBottom ) ## no top left
    #chanwReviveGlobalVariable( "MiddleCenterWithNoTopLeftCssClass" $master_namespace )
    #set( $middleCssClass = $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "BottomRightCssClass" $master_namespace )
    #set( $bottomCssClass = $chanwReviveGlobalVariable )
#end

#if( $master_namespace == "rwd2" )
    #set( $containerClass = "container " + $rwd2PageCssClass )
#else
    #set( $containerClass = "container" )
#end

<div class="${containerClass}">
    #if( $siteHasTop && $pageHasTop )
    <div class="${topCssClass}">
        #chanwReviveGlobalVariable( "RenderFolderNav" $master_namespace )
        
        #if( $chanwReviveGlobalVariable )
            #chanwReviveGlobalVariable( "FolderNavOnTopLeft" $master_namespace )

            #if( $chanwReviveGlobalVariable ) ## set with true
                #chanwReviveGlobalVariable( "FolderNav" $master_namespace )
                #import( $chanwReviveGlobalVariable )
            #end
        #end
        
        ## process block choosers
        #chanwReviveGlobalVariable( "RenderTopLeftGroup" $master_namespace )
        
        #if( $chanwReviveGlobalVariable )
            #set( $topGroupChooserContent = $pageSystemDataStructure.getChild( "top-group"
                ).getChild( "top-group-chooser" ).getChild( "content" ) )
            
            #if( $topGroupChooserContent )
                #chanwProcessBlockChooser( $topGroupChooserContent )
            #end
        #end
    </div>
    #end

    ## middle part
    <div class="${middleCssClass}">
        <div class="row">
    #chanwReviveGlobalVariable( "RenderH1" $master_namespace )
        
    #if( $chanwReviveGlobalVariable )
        #chanwReviveGlobalVariable( "H1AboveGrid" $master_namespace )
        
        #if( !$chanwReviveGlobalVariable )
    <h1>$h1</h1>
        #end
    #end
        
    $_SerializerTool.serialize($content, true)
        
    ## process block choosers
    #set( $postWysiwygChoosers = $pageSystemDataStructure.getChildren( "post-wysiwyg-chooser" ) )

    #if( $postWysiwygChoosers.size() > 0 )
        #foreach( $postWysiwygChooser in $postWysiwygChoosers )
            #set( $postWysiwygChooserContent = $postWysiwygChooser.getChild( "content" ) )
            
            #if( $postWysiwygChooserContent )
                #chanwProcessBlockChooser( $postWysiwygChooserContent )
            #end
        #end
    #end
        </div>
    </div>

    #if( $siteHasBottom && $pageHasBottom )    
    <div class="${bottomCssClass}">
        #chanwReviveGlobalVariable( "RenderFolderNav" $master_namespace )

        #if( $chanwReviveGlobalVariable )
            #chanwReviveGlobalVariable( "FolderNavOnBottomRight" $master_namespace )

            #if( $chanwReviveGlobalVariable ) ## set with true
                #chanwReviveGlobalVariable( "FolderNav" $master_namespace )   
                #import( $chanwReviveGlobalVariable )
            #end
        #end
        
        ## process block choosers
        #chanwReviveGlobalVariable( "RenderBottomRightGroup" $master_namespace )
        
        #if( $chanwReviveGlobalVariable )
        
            #set( $bottomGroupChooserContent = $pageSystemDataStructure.getChild( "bottom-group"
                ).getChild( "bottom-group-chooser" ).getChild( "content" ) )
            
            #if( $bottomGroupChooserContent )
                #chanwProcessBlockChooser( $bottomGroupChooserContent )
            #end
        #end
    </div>
    #end
</div>