## lists to associate sites with designs
#set( $rwd2       = [] )
#set( $hannonHill = [ "cascade-admin" ] )

#if( $hannonHill.contains( $currentPageSiteName ) )
    #set( $master_namespace = "hannonHill" )
#else ## the default design
    #set( $master_namespace = "rwd2" )
#end

## global components: components existing in every design
#chanwSetVariable( "${master_namespace}Breadcrumbs"      "site://${master_site_name}/formats/${master_namespace}/breadcrumbs" )
#chanwSetVariable( "${master_namespace}Contact"          "site://${master_site_name}/formats/${master_namespace}/contact" )
#chanwSetVariable( "${master_namespace}FolderNav"        "site://${master_site_name}/formats/${master_namespace}/folder-nav" )
#chanwSetVariable( "${master_namespace}Footer"           "site://${master_site_name}/formats/${master_namespace}/footer" )
#chanwSetVariable( "${master_namespace}Google"           "site://${master_site_name}/formats/${master_namespace}/google-tag-manager" )
#chanwSetVariable( "${master_namespace}Header"           "site://${master_site_name}/formats/${master_namespace}/header" )
#chanwSetVariable( "${master_namespace}Link"             "site://${master_site_name}/formats/${master_namespace}/link" )
#chanwSetVariable( "${master_namespace}Meta"             "site://${master_site_name}/formats/${master_namespace}/meta" )
#chanwSetVariable( "${master_namespace}Script"           "site://${master_site_name}/formats/${master_namespace}/script" )
#chanwSetVariable( "${master_namespace}SiteNav"          "site://${master_site_name}/formats/${master_namespace}/site-nav" )
#chanwSetVariable( "${master_namespace}Title"            "site://${master_site_name}/formats/${master_namespace}/system-page-title" )

## breadcrumbs, defaulted to render
#chanwSetVariable( "${master_namespace}RenderBreadcrumbs"      true )

## page contents, defaulted to process
#chanwSetVariable( "${master_namespace}ProcessPageSystemDataStructure" true )

## layouts, defaulted to 3-row/column layout
#chanwSetVariable( "${master_namespace}HasTopRowLeftCol"       true )
#chanwSetVariable( "${master_namespace}HasBottomRowRightCol"   true )
#chanwSetVariable( "${master_namespace}RenderTopLeftGroup"     true )
#chanwSetVariable( "${master_namespace}RenderBottomRightGroup" true )

## folder nav, defaulted in top/left
#chanwSetVariable( "${master_namespace}RenderFolderNav"        true )
#chanwSetVariable( "${master_namespace}FolderNavOnTopLeft"     true )
#chanwSetVariable( "${master_namespace}FolderNavOnBottomRight" true )

## h1, defaulted to render and within middle/center
#chanwSetVariable( "${master_namespace}RenderH1"    true )
#chanwSetVariable( "${master_namespace}H1AboveGrid" false )

## fields, defaulted to render full-width
#chanwSetVariable( "${master_namespace}RenderPreH1Chooser"                true )
#chanwSetVariable( "${master_namespace}RenderPreH1ChooserInContainer"     false )
#chanwSetVariable( "${master_namespace}RenderPreWysiwygChooser"           true )
#chanwSetVariable( "${master_namespace}RenderWysiwyg"                     true )
#chanwSetVariable( "${master_namespace}RenderPostWysiwygChooser"          true )
#chanwSetVariable( "${master_namespace}RenderPostWysiwygGroup"            true )
#chanwSetVariable( "${master_namespace}RenderPostWysiwygGroupInContainer" false )
