## do not change these two lines; change the content in these formats instead
## when needed, add more import statements here
#import( 'formats/custom_macro_list' )
#import( 'formats/custom_macros' )

#*
Generates the required macros.
*#

## These are list-code pairs used to generate macros to generate macros.
#set( $list_code_pairs = { "multi_macro_names"    : "multi_group_code", 
                           "site_map_macro_names" : "site_map_code" } )

## generate macros that generate macros
#set( $chanw_list_code_keys = $list_code_pairs.keySet() )

#foreach( $key in $chanw_list_code_keys )
    #set( $chanw_map_statement = $macro_foreach_code.replaceAll( "-list_name-", $key ).replaceAll( "-code_name-", $list_code_pairs[ $key ] ) )
    #evaluate( $chanw_map_statement )
#end

#foreach( $single_group_name in $single_group_names )
    #chanwConvertToPascalCase( $single_group_name "-" )
    #set( $dispatch_macro_name = $MACRO_PREFIX + $chanwConvertToPascalCase )
    #set( $single_group_name   = $single_group_name + "-group" )
    #set( $chanw_statement     = $single_group_code.replaceAll( 
        "-dispatch_macro_name-", $dispatch_macro_name ).replaceAll( "-single_group_name-", $single_group_name ) )
    #evaluate( $chanw_statement )
#end