#import( "formats/tutorial/advanced/2/system-page-tree" )

#set( $chanwObjectNodeMap[ "last-modified-by" ].UserObject[ "code" ] = "doej" )
#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ "system-page" ] )

====================
#set( $chanwObjectNodeMap[ "last-modified-by" ].UserObject[ "code" ] = "#createLastModifiedBy" )
#macro( createLastModifiedBy )thomaspe#end
#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ "system-page" ] )