#import( "formats/tutorial/advanced/2/system-page-tree" )

#set( $chanwObjectNodeMap[ "last-modified-by" ].UserObject[ $TREE_NODE_TEXT ] = "doej" )
#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ "system-page" ] )

====================
#set( $chanwObjectNodeMap[ "last-modified-by" ].UserObject[ $TREE_NODE_TEXT ] = "" )
#set( $chanwObjectNodeMap[ "last-modified-by" ].UserObject[ $TREE_NODE_CODE ] = "#createLastModifiedBy" )
#macro( createLastModifiedBy )thomaspe#end
#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ "system-page" ] )
