#set( $site_name   = $currentPage.SiteName )
#set( $base_folder = $_.locateFolder( "/", $site_name ) )
#set( $last_level  = 3 )
<ul>#processFolder( $base_folder 1 )</ul>

#macro( processFolder $folder $level )
    #set( $chanwChildren = "" )
    #set( $chanwChildren = $folder.Children )
    
    ## process the folder here
    #if( $folder.Path == "/" )
        <li>Folder: <a href="index">$_EscapeTool.xml( $folder.Metadata.DisplayName )</a>
    #else
        <li>Folder: <a href="${folder.Path}/index">$_EscapeTool.xml( $folder.Metadata.DisplayName )</a>
    #end
    
    #if( $chanwChildren.size() > 0 )
        <ul>
        #foreach( $chanwChild in $chanwChildren )
            #if( $chanwChild.Identifier.Type == $_FieldTool.in( "com.hannonhill.cascade.model.dom.identifier.EntityTypes" ).TYPE_FOLDER )
                #set( $chanwLevel = $level + 1 )
                
                #if( $chanwLevel > $last_level )
                    #set( $chanwLevel = $chanwLevel - 1 )
                    <li>Folder: <a href="${chanwChild.Path}/index">$_EscapeTool.xml( $chanwChild.Metadata.DisplayName )</a></li>
                #else
                    #processFolder( $chanwChild $chanwLevel )
                #end

                #set( $chanwLevel = $chanwLevel - 1 )
            #elseif( $chanwChild.Identifier.Type == $_FieldTool.in( "com.hannonhill.cascade.model.dom.identifier.EntityTypes" ).TYPE_PAGE )
                <li>Page: <a href="${chanwChild.Path}">$_EscapeTool.xml( $chanwChild.Metadata.DisplayName )</a></li>
            #end
        #end
        </ul>
    #end
    
    </li>
#end