#import( 'site://_common_assets/formats/library/velocity/chanw_library_import' )

#set( $page = $contentRoot.getChild( "system-page" ) )
#chanwGetCascadeObjectFromElement( $page $CASCADE_API_PAGE_TYPE )
$chanwGetCascadeObjectFromElement.Class.Name

#set( $folder = $contentRoot.getChild( "system-folder" ) )
#chanwGetCascadeObjectFromElement( $folder $CASCADE_API_FOLDER_TYPE )
$chanwGetCascadeObjectFromElement.Name