#**
The Velocity engine will try to interpret a sequence of characters,
or any parts of it, as Velocity code and execute it, unless the result
is null, or the execution causes an exception. 
If a sequece of characters cannot be interpreted as code, 
then it is treated as a string.
*#
#set( $myVar = "Hello" )
$myVar
"$myVar"
$myVar2

## What is the difference between quotes in line 8 and in line 10?
"$myVar'

## difference between single and double quotes in #set
## single quotes output as strings, variable still interpolated
'$myVar'

## however, in #set, everythinhg in single quotes is treated as characters, not code
#set( $myVar3 = '$myVar' )
$myVar3
#set( $myVar4 = '#set(' )
$myVar4