#**
When creating a string that looks like code, the Velocity engine will still
try to interpret strings as code, and may cause an exception.
e.g. #set( $statement = "#" + "set(" + "$myVar=3)" )
*#

## #set($myVar=3) is code and hence executed, no need of #evaluate
#set( $void = "#set($myVar=3)" )
$myVar

## single quotes
#set( $stmt = '#set($myVar2="Hello")' )
#evaluate( $stmt )
$myVar2