#**
A macro from the reusable library:
*#
#macro( chanwSetVariable $var $val )
    #if( $_PropertyTool.isNull( $val ) )
        #set( $chanwValue = "" )
    #elseif( $val.class.name == "java.lang.String" )
        #set( $chanwValue = $_EscapeTool.xml( $val ).trim() )
    #else
        #set( $chanwValue = $val )
    #end
    
    #set( $chanwSetVarValStatement = '#set($' + "$var = '$chanwValue')" )
    #evaluate( $chanwSetVarValStatement )
#end

#chanwSetVariable( "myVar" "Hello, World!" )

$myVar