#**
Macro alias: macro A invokes macro B by passing in all the needed information.
Macro A is said to be an alias of macro B.

The Standard Model makes use of macro aliases due to automatic macro
invocation. How do we avoid this?
*#
#macro( doTheRealWork $param1 $param2 )
    $param1 $param2!
#end

#macro( delegateA $param1 $param2 )
    #doTheRealWork( $param1 $param2 )
#end

#macro( delegateB $param1 $param2 )
    #doTheRealWork( $param1 $param2 )
#end

#macro( delegateC $param1 $param2 )
    #doTheRealWork( $param1 $param2 )
#end

#delegateA( "Hello" "World" )
#delegateB( "Come" "on" )
#delegateC( "Shut" "up" )

#*
Code pattern:

#macro( alias param-list )
    #call real macro( param-list )
#end
*#