#*
How about invoking a macro which creates all the variables with values?
*#
#set( $block = $_XPathTool.selectSingleNode( $contentRoot, "//system-block[3]" ) )
#chanwProcessSystemBlock( $block )

<pre>
$systemBlockName
##$systemBlockSite
##$systemBlockPath
</pre>