#**
How about generating all the macro aliases?
*#
#macro( doTheRealWork $param1 $param2 )
    $param1 $param2!
#end

## a list containing all aliases
#set( $aliases = [ "delegateA",  "delegateB", "delegateC" ] )

## the code template
#set( $code_template = '#macro(-macro_name- $param1 $param2)' +
    '#doTheRealWork($param1 $param2)#end' )

Code template: $code_template

#foreach( $alias in $aliases )
    #set( $stmt = $code_template.replaceAll( "-macro_name-", $alias ) )
    Statement generated: $stmt
    #evaluate( $stmt )
#end

#delegateA( "Hello" "World" )
#delegateB( "Come" "on" )
#delegateC( "Shut" "up" )