#*
How about invoking a macro which creates all the variables with values?
*#
#set( $page = $_XPathTool.selectSingleNode( $contentRoot, "calling-page/system-page" ) )
#chanwProcessSystemPage( $page )

<pre>
$systemPageName
$systemPageDisplayName
$systemPageSite
$systemPageLink
</pre>