#**
Read the code template, as a string, stored in an XML block.
*#
#set( $alias_code = $_.locateBlock( 
        "cuc16/code-templates", "cascade-admin-webapp" 
    ).getXMLAsXMLElement().getChild( 
        "code-templates" 
    ).getChild( 
        "macroDoTheRealWorkAliasCode" ).Value )

$alias_code