#*
Key components of the code-template mechanism:

1. Code templates, stored in an XML block, possibly with place-holders
2. A list of macro names, or macro name:param maps
3. Code to read a code template, and replace the place-holders with real values
   drawn from the corresponding list/map
4. Code to generate the required code
5. The machanism is recursive: generate code to generate code to generate code...
6. Consumers
*#