#*
Code templates in the Standard Model:

comment out default: L112, 113

chanw_global_values_code: L219 (site map code)

chanw_macro_utilities_code

process_index_block: L76, generating code to process system-block, etc.

#evaluate in code templates:
chanw_global_velocity_code, L20
chanw_macro_utilities_code, L99

process_block: L19, generating code that generates code
process_block: L23-30, generating code from a list

Watch out for &gt; &lt; -aa- -lt- etc. (see process_block and default)
*#