#import( "site://_brisk/core/library/velocity/chanw/chanw_library_import" )

#chanwCreateNode( 1 )
#set( $root = $chanwCreateNode )
#chanwAddChildren( $root [ 2..5 ] )

$chanwObjectNodeMap[ 1 ].Class.Name
$chanwObjectNodeMap[ 1 ].UserObject.Class.Name