#import( "site://_common_assets/formats/library/velocity/chanw_service_provider" )

## only works for wired fields
#set( $ms_dom = $chanwMetadataSetService.get( "5f4526018b7f08ee76b12c413ab40518" ) )
$ms_dom.TitleRequired