#import( "site://_common_assets/formats/library/velocity/chanw_service_provider" )

#set( $page_dom = $chanwServiceProvider.getPageService().get( $currentPage.Identifier.Id ) )
#set( $ct_dom   = $page_dom.getContentType() )

#set( $dd_dom   = $chanwStructuredDataDefinitionService.get( $ct_dom.getStructuredDataDefinition().Id ) )
$dd_dom.Xml

#set( $ms_dom   = $chanwMetadataSetService.get( $ct_dom.getMetadataSet().Id ) )
$ms_dom.TitleRequired

#set( $cs_dom   = $chanwPageConfigurationSetService.get( $ct_dom.getPageConfigurationSet().Id ) )
#set( $conf_id  = $cs_dom.DefaultConfiguration.Id )
#set( $conf_dom = $chanwServiceProvider.getPageConfigurationService().get( $conf_id ) )
$conf_dom.Extension