#**
Part 1: Velocity
1. Importance of documentation and creation of documentation pages
   - Promote reusability
   - Unit testing
2. XML markups within the source: code and documentation in the same place
3. Processing the markups
   - turning a format into an XML document
   - SAXBuilder and $_XPathTool
4. Unit tests

Part 2: Web Services
1. XML markups within the source
2. PHP code within documentation to be executed
**#