#**
Introdution:
1. Importance of documentation and creation of documentation pages
2. Code and documentation in the same place
3. Generation of documentation pages
4. Display of documentation in development environment
5. Testing and live code execution

Part 1: Velocity
1. Processing the markups
   - turning a format into an XML document
   - SAXBuilder and $_XPathTool
2. Unit tests

Part 2: Web Services
1. XML markups within the source of class files
2. PHP code within documentation to be executed

Part 3: If time allows
1. Extension—A surprise gift
2. A wordy flow chart by German Drulyk
**#