#import( "site://_brisk/core/library/velocity/chanw/chanw_process_xml" )

#set( $page = $_XPathTool.selectSingleNode( $contentRoot, "calling-page/system-page" ) )

#chanwProcessSystemDataStructure( $page [ "wysiwyg" ] )
#chanwDisplayMapKeys( $chanwXmlXPathTextMap true )