#macro( myMacro $num )
    #set( $myDefault = $num )
	
    #if( !$num.Class.Name || $num.Class.Name != "java.lang.Integer" )
        #set( $myDefault = 0 )
    #end
    
    ## consume $myDefault
#end