## GregorianCalendar, today
#set( $cal   = $_DateTool.getSystemCalendar() )
## this month
#set( $month = $cal.get( $_FieldTool.in( $cal ).MONTH ) )
## this year
#set( $year  = $cal.get( $_FieldTool.in( $cal ).YEAR ) )

## first day of the month
#set( $void  = $cal.set( $year, $month, 1 ) )
## day of the week of 1st of the month
#set( $curr  = $cal.get( $_FieldTool.in( $cal ).DAY_OF_WEEK ) )
## the number of empty <td> to generate before 1st of the month
#set( $prev  = $curr - 1 )
## the last day of the month
#set( $last  = $cal.getActualMaximum( $_FieldTool.in( $cal ).DAY_OF_MONTH ) )
## the number of empty <td> to generate after the last day
#set( $remaining = ( 7 - ( $last + $prev ) % 7 ) % 7 )

<table class="talignright">
<tr><td>&#160;SUN&#160;</td><td>&#160;MON&#160;</td><td>&#160;TUE&#160;</td>
<td>&#160;WED&#160;</td><td>&#160;THU&#160;</td><td>&#160;FRI&#160;</td><td>&#160;SAT&#160;</td></tr>
<tr>
## output empty <td> before the 1st
#if( $prev != 0 )
    #foreach( $count in [ 1..$prev ] )
        <td></td>
    #end
#end

#foreach( $day in [ 1..$last ] )
    ## output the day
    <td>$day</td>
    
    ## when comes to a Saturday, output </tr>
    #if( ( $day + $prev ) % 7 == 0 && ( $day != $last ) )
        </tr><tr>
    #end
#end

## output remaining <td>
#if( $remaining != 0 )
    #foreach( $count in [ 1..$remaining ] )
        <td></td>
    #end
#end
</tr>  ## the last </tr>
</table>

#*
Example output: July of 2016

<table class="talignright">
    <tr>
        <td> SUN </td>
        <td> MON </td>
        <td> TUE </td>
        <td> WED </td>
        <td> THU </td>
        <td> FRI </td>
        <td> SAT </td>
    </tr>
    <tr>
        <td />
        <td />
        <td />
        <td />
        <td />
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
    <tr>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
    </tr>
    <tr>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
    </tr>
    <tr>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
    </tr>
    <tr>
        <td>31</td>
        <td />
        <td />
        <td />
        <td />
        <td />
        <td />
    </tr>
</table>
*#