## find the number of milliseconds of the date 20 years from today

## rough calculation
#set( $nowMillis = $_DateTool.getSystemDate().getTime() )
#set( $millisPerYear     = $_FieldTool.in( "org.apache.velocity.tools.generic.ComparisonDateTool" ).MILLIS_PER_YEAR )
#set( $millisTwentyYears = $millisPerYear * 20 + $nowMillis )
#set( $dateInTwentyYears = $_DateTool.getDate( "$millisTwentyYears" ) )
## a few days off
$dateInTwentyYears
$millisTwentyYears

## more accurate
#set( $cal = $_DateTool.getSystemCalendar() )
$cal.add( $_FieldTool.in( $cal ).YEAR , 20 )
#set( $dateInTwentyYears = $_DateTool.toDate( $cal ) )
$dateInTwentyYears
$cal.getTimeInMillis()