## find the number of milliseconds of the date 20 years from today

## rough calculation
#set( $nowMillis = $_DateTool.getSystemDate().getTime() )
#set( $classObj  = $_.Class.forName( "com.hannonhill.cascade.velocity.CascadeComparisonDateTool" ) )
#set( $fieldObj  = $classObj.getField( "MILLIS_PER_YEAR" ) )
#set( $millisPerYear     = $fieldObj.get( null ) )
#set( $millisTwentyYears = $millisPerYear * 20 + $nowMillis )
#set( $dateInTwentyYears = $_DateTool.getDate( "$millisTwentyYears" ) )
## a few days off
$dateInTwentyYears
$millisTwentyYears

## more accurate
#set( $cal   = $_DateTool.getSystemCalendar() )
$cal.add( $_FieldTool.in( $cal ).YEAR , 20 )
#set( $dateInTwentyYears = $_DateTool.toDate( $cal ) )
$dateInTwentyYears
$cal.getTimeInMillis()