#macro( processAsideGroup $asideGroup )
    #set( $asideGroupBlocks = $asideGroup.getChildren( "aside-group-chooser" ) )
    
    #foreach( $asideGroupBlock in $asideGroupBlocks )
        #set( $asideGroupBlockContent = '' )
        #set( $asideGroupBlockContent = $asideGroupBlock.getChild( 'content' ) )
        
        #if( $asideGroupBlockContent != '' )
            #processBlockChooser( $asideGroupBlockContent )
        #end
    #end
#end