#set( $myList = [] )
#set( $bool   = $myList.add( 3 ) )         ## add
#set( $bool   = $myList.add( "Hello" ) )
$myList.size()                             ## size, 2
$myList.indexOf( "Hello" )                 ## indexOf, 1

#set( $dummy = $myList.addAll( 0, [ 'this', 'that' ] ) ) ## added to the front

$myList
$myList[ 3 ] ## => Hello

$myList.contains( "this" )                 ## contains, true

#set( $bool = $myList.remove( "Hello" ))   ## remove
$myList.size()                             ## size, 3

$myList.get( 0 )                           ## get, this
$myList.clear()                            ## clear
$myList.size()                             ## => 0
$myList.isEmpty()                          ## isEmpty, true

#set( $myEvenList = [] )
#set( $myOddList  = [] )

#foreach( $num in [ 1..100 ] )
    #if( $num % 2 == 0 )
        #set( $bool = $myEvenList.add( $num ) )
    #else
        #set( $bool = $myOddList.add( $num ) )
    #end
#end

#set( $myEvenSubList = $myEvenList.subList( 0, 5 ) )
$myEvenSubList