#import( 'site://_common_assets/formats/library/velocity/chanw_library_import' )

#set( $myList = [] )
#set( $bool   = $myList.add( 3 ) )         ## add
#set( $bool   = $myList.add( "Hello" ) )
$myList.size()$BR                          ## size, 2
$myList.indexOf( "Hello" )$BR              ## indexOf, 1

#set( $dummy = $myList.addAll( 0, [ 'this', 'that' ] ) ) ## added to the front

$myList$BR                                 ## => [this, that, 3, Hello]
#chanwGetListReversed( $myList )
$chanwGetListReversed$BR                   ## => [Hello, 3, that, this]

$myList[ 3 ]$BR                            ## => Hello

$myList.contains( "this" )$BR              ## contains, true

#set( $bool = $myList.remove( "Hello" ))   ## remove
$myList.size()$BR                          ## size, 3

$myList.get( 0 )$BR                        ## get, this
$myList.clear()$BR                         ## clear
$myList.size()$BR                          ## => 0
$myList.isEmpty()$BR                       ## isEmpty, true

#set( $myEvenList = [] )
#set( $myOddList  = [] )

#foreach( $num in [ 1..100 ] )
    #if( $num % 2 == 0 )
        #set( $bool = $myEvenList.add( $num ) )
    #else
        #set( $bool = $myOddList.add( $num ) )
    #end
#end

#set( $myEvenSubList = $myEvenList.subList( 0, 5 ) )
$myEvenSubList$BR                           ## subList, [2, 4, 6, 8, 10]