#import( "site://_common_assets/formats/library/velocity/chanw_global_utility_objects" )

#set( $string = "N3" )

#if( $globalApacheStringUtils.isNumeric( $string ) )
    $_PropertyTool.class.forName( "java.lang.Integer" ).getMethod( 
        "parseInt", 
        $_PropertyTool.class.forName( "java.lang.String" ) ).invoke( null, $string )
#else
    $string is not numeric
#end