## for selectSingleNode, no complaint if the selection fails
#set( $node = $_XPathTool.selectSingleNode( $contentRoot, "system-pag" ) )
$node.getChild('name').Value

## for selectNodes, if the selection fails, java.util.Collections$EmptyList is thrown
#set( $node = $_XPathTool.selectNodes( $contentRoot, "system-pag" )[0] )
$node.getChild('name').Value