#macro( chanwDisplayObjClass $obj $withH2 )
    #set( $objString = "" )
    #set( $objType = $obj.Class.Name )
    
    #if( $objType == "java.lang.String" )    ## class name
        #set( $objString = $obj )
    #elseif( $objType == "java.lang.Class" ) ## class obj
        #set( $objString = $obj.Name )
    #else                                    ## obj of other types
        #set( $objString = $obj.Class.Name )
    #end
    
    ## remaining code    
#end
