## Within the Velocity context, all variables are objects
## Use $x.class.name to reveal class name

#macro2

## shows that the variable $int is an Integer object
#macro( macro1 )
    #set( $int = 3 )
    $int.class.name ##=> java.lang.Integer
#end

## Other objects available in the context
#macro( macro2 )
    $_DateTool.class.name        ##=> com.hannonhill.cascade.velocity.CascadeComparisonDateTool
    $_XPathTool.class.name       ##=> org.jdom.xpath.JaxenXPath
    $_SerializerTool.class.name  ##=> com.hannonhill.cascade.velocity.SerializerTool
    $_SortTool.class.name        ##=> com.hannonhill.cascade.velocity.NodeSortTool
    $_StringTool.class.name      ##=> com.hannonhill.cascade.velocity.StringTool
    $_DisplayTool.class.name     ##=> org.apache.velocity.tools.generic.DisplayTool
    $_EscapeTool.class.name      ##=> org.apache.velocity.tools.generic.EscapeTool
    $_MathTool.class.name        ##=> org.apache.velocity.tools.generic.MathTool
    $_NumberTool.class.name      ##=> org.apache.velocity.tools.generic.NumberTool
    $_FieldTool.class.name       ##=> com.hannonhill.cascade.velocity.CascadeFieldTool
    $_.class.name                ##=> com.hannonhill.cascade.velocity.LocatorTool
    $_PropertyTool.class.name    ##=> com.hannonhill.cascade.velocity.PropertyTool
#end