#*
This format creates a constructor of the class javax.swing.tree.DefaultMutableTreeNode.
The constructor can be called to create tree node objects.
*#
#set( $DefaultMutableTreeNodeConstructor = $_.class.forName(
    "javax.swing.tree.DefaultMutableTreeNode" ).getConstructor(
    $_.class.forName( "java.lang.Object" ) ) )