#* Execute this *#
#*
This format displays the tree structure rooted at html.

html
   head
      title
      meta
      link
   body
      header
      main
         h1
         wysiwyg
         chooser
      footer
*#
#import( "site://cascade-admin/_cascade/cuc18/10_html_tree" )

## display entire html tree
#displayTree( $html )