## https://github.com/wingmingchan/velocity/blob/master/library/chanw-initialization.vm
#import( "site://_brisk/core/library/velocity/chanw/chanw-initialization" )
## https://github.com/wingmingchan/velocity/blob/master/library/chanw-tree-utilities.vm
#import( "site://_brisk/core/library/velocity/chanw/chanw-tree-utilities" )

#chanwAddChildren( $chanwObjectNodeMap[ "body" ] [ 
    { "name" : "header", "startString" : "<header>",  "endString" : "</header>" },
    { "name" : "main",   "startString" : "<main>",    "endString" : "</main>" },
    { "name" : "footer", "startString" : "<footer>",  "endString" : "</footer>" }
] )