#*
This formats assembles an html tree.
*#
## https://github.com/wingmingchan/velocity/blob/master/library/chanw-initialization.vm
#import( "site://_brisk/core/library/velocity/chanw/chanw-initialization" )
## https://github.com/wingmingchan/velocity/blob/master/library/chanw-tree-utilities.vm
#import( "site://_brisk/core/library/velocity/chanw/chanw-tree-utilities" )

#import( "site://cascade-admin/_cascade/cuc18/22_html_node_with_code" )
#import( "site://cascade-admin/_cascade/cuc18/23_head_node_with_code" )
#import( "site://cascade-admin/_cascade/cuc18/24_body_node_with_code" )
#import( "site://cascade-admin/_cascade/cuc18/25_main_node_with_code" )