The concept of 'Page':
================================================================================
1. A fully rendered page vs. a page data container
2. An oxymoron: partial page
3. When a page is detached from all presentational logic,
   it can be associated with any presentational logic.
4. Prerequisites: no regions
5. Reusable pages