The concept of 'Page':
================================================================================
1. A fully rendered page vs. a page data container
2. An oxymoron: partial page
3. Reusable pages