$globalStringBuffer.setLength( 0 ) ## clear the string buffer
    
## use currentPage to avoid index cache problem
#set( $folder_path      = "/" + $currentPage.ParentFolderIdentifier.Path.PathAsString )
#set( $cur_folder_xpath = "//system-folder[path='$folder_path']" )
#set( $cur_folder       = $_XPathTool.selectSingleNode( $contentRoot, $cur_folder_xpath ) )
#set( $cur_folder_display_name = $_EscapeTool.xml( $cur_folder.getChild( 'display-name' ).Value ) )
    
## root pages, etc.
#if( $_PropertyTool.isNull( $cur_folder ) )
    #set( $cur_folder = $contentRoot )
    ## work out the site title
    #set( $cur_folder_display_name = $siteTitle )
#end

#set( $cur_folder_children = $cur_folder.getChildren() )
#set( $cur_folder_page_children = $cur_folder.getChildren( 'system-page' ) )
    
#if( $cur_folder_children.size() > 0 )
    #set( $void = $globalStringBuffer.append( "<div id='left-menu-div'><div id='left-column'><nav id='left-menu'><ul>" ) )
    	
    #foreach( $child in $cur_folder_children )            
        #set( $child_link = $child.getChild( 'link' ).Value )
        #set( $child_display_name = $_EscapeTool.xml( $child.getChild( 'display-name' ).Value ) )
        #set( $is_current_page    = ( $child.getAttribute( 'current' ).Value == 'true' ) )
            
        #if( $child.name == 'system-page' )
            #if( $child.getChild( 'name' ).Value == 'index' )
                #set( $void = $globalStringBuffer.append( "<li id='menu-label'><a href='${child_link}'>$child_display_name</a></li>" ) )
            #elseif( $child.getAttribute( 'current' ).Value == 'true' )
                #set( $void = $globalStringBuffer.append( "<li class='lcurrent'><a href='${child_link}'>$child_display_name</a></li>" ) )
            #else
                #set( $void = $globalStringBuffer.append( "<li><a href='${child_link}'>$child_display_name</a></li>" ) )
            #end
        #elseif( $child.name == 'system-folder' )
            #set( $void = $globalStringBuffer.append( "<li><a href='${child_link}/index'>$child_display_name</a></li>" ) )
        #elseif( $child.name == 'system-symlink' )
            #set( $void = $globalStringBuffer.append( "<li><a href='${child_link}'>$child_display_name</a></li>" ) )
        #end
    #end
        
    #set( $void = $globalStringBuffer.append( "</ul></nav></div></div>" ) )
#end
$globalJDOMText.normalizeString( $globalStringBuffer.toString() )