## accessibility
#chanwSetVariable( "${design_namespace}Accessibility"    "site://${master_site_name}/formats/${design_namespace}/accessibility" )
#chanwSetVariable( "${design_namespace}Copyright"        "site://${master_site_name}/formats/${design_namespace}/copyright" )
#chanwSetVariable( "${design_namespace}GlobalMenuSearch" "site://${master_site_name}/formats/${design_namespace}/global-menu-search" )
#chanwSetVariable( "${design_namespace}LastModified"     "site://${master_site_name}/formats/${design_namespace}/last-modified" )
#chanwSetVariable( "${design_namespace}SiteTitle"        "site://${master_site_name}/formats/${design_namespace}/site-title" )

## site config
#set( $siteSetupFormatSiteName   = $currentPageSiteName )
#set( $siteSetupFormatFolderPath = "/" )
#set( $siteSetupFormatName       = 'setup' )

##site title
#chanwSetVariable( "${design_namespace}RenderSiteTitle" true )
#chanwSetVariable( "${design_namespace}SiteTitleLink"   "index" )

## site nav
#chanwSetVariable( "${design_namespace}HomeLinkTextInSiteNav"  "Home" )

## breadcrumbs
#chanwSetVariable( "${design_namespace}BreadcrumbsHomeString"      "Home" )
#chanwSetVariable( "${design_namespace}BreadcrumbsSeparatorString" " > " )

## h2 in row block
#chanwSetVariable( "${design_namespace}RowCenterHeaderClasses" "centerobject" )

## layouts
#chanwSetVariable( "${design_namespace}TopLeftCssClass"                       "col-md-3 nopadding" )
#chanwSetVariable( "${design_namespace}MiddleCenterCssClass"                  "col-md-6" )
#chanwSetVariable( "${design_namespace}BottomRightCssClass"                   "col-md-3 nopadding" )
#chanwSetVariable( "${design_namespace}MiddleCenterWithNoTopLeftCssClass"     "col-md-9" )
#chanwSetVariable( "${design_namespace}MiddleCenterWithNoBottomRightCssClass" "col-md-9" )
#chanwSetVariable( "${design_namespace}PageCssClass"                          "bg-white" )
