#if( $rwd2RenderSiteTitle )
    #chanwReviveGlobalVariable( "SiteTitleString" $master_namespace )
    #set( $siteTitleString = $chanwReviveGlobalVariable )
    #chanwReviveGlobalVariable( "SiteTitleLink" $master_namespace )
    #set( $siteTitleLink = $chanwReviveGlobalVariable )
    #if( $chanwReviveGlobalVariable != "" && $siteTitleLink != "" )
<div id="site-title-div"><a href="${siteTitleLink}">$siteTitleString</a></div>
    #end
#end