#import( 'site://_common_assets/formats/library/velocity/chanw_library_import' )

#set( $page = $_XPathTool.selectSingleNode( $contentRoot, "//system-folder[@current]/system-page[@current]" ) )
## root-level pages
#if( $_PropertyTool.isNull( $page ) )
    #set( $page = $_XPathTool.selectSingleNode( $contentRoot, "//system-page[@current]" ) )
#end

#chanwProcessSystemPage( $page )
#set( $trail       = $_XPathTool.selectNodes( $contentRoot, "//system-folder" ) )
#set( $baseFolder  = "Base Folder" )
#set( $defaultPage = "index" )
#set( $separator   = " &gt; " )

<div class="container breadcrumbs">
    ## root-level pages, generate Home, possibly a link
    #if( $page.getParent().name == "system-index-block" )
        #if( $currentPage.name == $defaultPage )
            Home
        #else
            <a href="${defaultPage}">Home</a>
        #end
    ## pages in folders
    #else
        ## non-indexable page
        #if( $page.getParent().name == "calling-page" )
            <a href="${defaultPage}">Home</a>
        ## generate Home link first
        #else
        <a href="${defaultPage}">Home</a> $separator
        #end
        
        ## each folder
        #foreach ( $folder in $trail )
            #if( $folder.isAncestor( $page ) )
                #chanwProcessSystemFolder( $folder )
                #set( $theFolderTitle = "" )
                ## get the folder display name
                #set( $theFolderTitle = $systemFolderDisplayName.replaceAll( '&amp;amp;amp;', '&amp;' ) )
    
                #if( $folder.getAttribute( "current" ) )
                    <a href="$systemFolderLink/$defaultPage">$theFolderTitle</a>
                        #if( $page.getParent() != $folder ) $separator #end 
                #else
                <a href="$systemFolderLink/$defaultPage">$theFolderTitle</a> $separator 
                #end
            #end
        #end
    #end
</div>
#end