#import( 'formats/library/velocity/chanw_global_values' )

#*=== macros used to generate div's for displaying code ===*#
#macro( createHideVelocityCode $code $id )
    #set( $code = $code.replaceAll( "<", "&lt;" ).replaceAll( ">", "&gt;" ).replaceAll( 
        "-aa-", "&amp;&amp;" ).replaceAll( "\[", "［" ).replaceAll( "\]", "］" ) )
    <div id="${id}"><pre class="code">$code</pre></div>
#end

#macro( chanwGetDocumentation $block_path $site_name )
    #set( $chanwXml = $_.locateBlock( $block_path, $site_name ).XML )
    #chanwBuildXMLContentRoot( $chanwXml )
    #set( $chanwDocs = $_XPathTool.selectNodes( $chanwBuildXMLContentRoot, "//documentation" ) )
    
    #if( $chanwDocs &&  $chanwDocs.size() > 0 )
        $S_UL
        #foreach( $doc in $chanwDocs )
            ${S_LI}#chanwGetMacroDocumentation( $doc )$E_LI
        #end
        $E_UL
    #end
#end

#macro( chanwGetMacroDocumentation $element )
    #set( $chanwCode = $_SerializerTool.serialize( $element, true ) )
    $chanwCode.replaceAll( "-lt-", "&lt;" ).replaceAll( "-gt-", "&gt;" ) ## for markups within
#end

#macro( getScriptBlockCode $block_path $site_name $id )
    #set( $code = $_.locateBlock( $block_path, $site_name ).XML )
    #createHideVelocityCode( $code $id )
#end

#macro( processRedirectScript $firstChild )
    $firstChild.name
#end