#import( 'site://_common_assets/formats/library/velocity/chanw_library_import' )

#if( !$namespace )
    #set( $namespace = "upstate" )
#end

#set( $siteParamMap = {
    "LocalStylesheetUrl" : "http://www.upstate.edu/cascade-admin/_extra/style.css",
    "SiteUrl" :            "/cascade-admin/index",
    "SiteTitle" :          "Cascade Administration",
    "SiteLogoPath" :       "site://cascade-admin/images/logo.jpg",
    "SiteNavPath" :        "site://cascade-admin/_cascade/formats/site-nav",
    "SiteHeaderPath" :     "site://cascade-admin/_cascade/formats/header",
    "SiteGoogleTagPath" :  "site://cascade-admin/_cascade/formats/google-tag",
    "FolderNavCode" :      '#processFolderNav($contentRoot)',
    "PagesWithoutBreadcrumbs" : [ 
        "index",
        "web-services/api/asset-classes/index"
    ],
    "PagesWithNarrowRightColumn" : [
        "web-services/api/asset-classes/data-definition"
    ]
} )

#foreach( $key in $siteParamMap.keySet() )
    #chanwSetVariable( "${namespace}$key" $siteParamMap[ $key ] )
#end

## just output the values of global variables
##evaluate( "$${namespace}SiteTitle" )
##evaluate( "$${namespace}LocalStylesheetUrl" )
##evaluate( "$${namespace}PagesWithoutBreadcrumbs" )

## different ways to bring back a global variable like $upstateSiteTitle
## with the namespace embedded in the name
#set( $varName = "${namespace}SiteTitle" )
#chanwReviveGlobalVariable( "SiteTitle" $namespace )
## or
##evaluate( '#chanwReviveGlobalVariable( "${namespace}SiteTitle" )' )
## or
##evaluate( '#chanwReviveGlobalVariable( $varName )' )
## or
##chanwInvokeMacro( "chanwReviveGlobalVariable" [ "varName" ] )
$chanwReviveGlobalVariable ## output Cascade Administration
$upstatePagesWithNarrowRightColumn