#set( $nowDate = $_DateTool.SystemDate )
#set( $nowTime = $_DateTool.SystemTime )
$nowDate                               ##=> Wed Aug 16 10:41:01 EDT 2017
$nowTime                               ##=> 1502894461533
$_DateTool.format( "yy", $nowDate )    ##=> 17
$_DateTool.format( "yyyy", $nowDate )  ##=> 2017
$_DateTool.format( "MMMMM", $nowDate ) ##=> August
$_DateTool.format( "MMM", $nowDate )   ##=> Aug
$_DateTool.format( "d", $nowDate )     ##=> 16
$_DateTool.format( "dd", $nowDate )    ##=> 16
$_DateTool.format( "h", $nowDate )     ##=> 10
$_DateTool.format( "k", $nowDate )     ## 24 hours => 10
$_DateTool.format( "a", $nowDate )     ##=> AM
$_DateTool.format( "m", $nowDate )     ##=> 41
$_DateTool.format( "s", $nowDate )     ##=> 1
$_DateTool.format( "S", $nowDate )     ##=> 533
$_DateTool.format( "E", $nowDate )     ##=> Wed
$_DateTool.format( "EEEEE", $nowDate ) ##=> Wednesday
$_DateTool.format( "z", $nowDate )     ##=> EDT