#set( $then = $_DateTool.getDate( "1500000000000" ) )
$_DateTool.whenIs( $then ).Full    ##=> 1 month 3 days 14 hours 7 minutes 9 seconds 16 milliseconds ago
$_DateTool.whenIs( $then ).Days    ##=> -33