#import( "site://_brisk/core/library/velocity/chanw/chanw_initialization" )

#set( $loop = $globalApacheLoopTool )

#set( $outer = [ 1..3 ] )
#set( $inner = [ 2..10 ] )

#foreach( $outerNum in $loop.watch( $outer, 'outer' ) )
#foreach( $innerNum in $loop.watch( $inner, 'inner' ) )
$loop.skip( 2, 'inner' )
$outerNum $innerNum#end
#end

================
#foreach( $outerNum in $loop.watch( $outer, 'outer' ) )
#foreach( $innerNum in $loop.watch( $inner, 'inner' ) )
$outerNum $innerNum
#if( $outerNum >= 2 )
##$loop.stop( 'outer' )
$loop.stop( 'inner' )
#end
#end
#end

#set( $map = {} )
#set( $outer = [ 1..5 ] )
#foreach( $item in $loop.watch( $outer ).sync( $inner, 'inner' ) )
    #set( $map[ $item ] = $loop.inner )
#end

$map