$globalStringBuffer.setLength( 0 ) ## clear the string buffer
    
## use currentPage to avoid index cache problem
#set( $folder_path      = "/" + $currentPage.ParentFolderIdentifier.Path.PathAsString )
#set( $cur_folder_xpath = "//system-folder[path='$folder_path']" )
#set( $cur_folder       = $_XPathTool.selectSingleNode( $contentRoot, $cur_folder_xpath ) )
#set( $cur_folder_display_name = $_EscapeTool.xml( $cur_folder.getChild( 'display-name' ).value ) )
    
## root pages, etc.
#if( $_PropertyTool.isNull( $cur_folder ) )
    #set( $cur_folder = $contentRoot )
    ## work out the site title
    #set( $cur_folder_display_name = $siteTitle )
#end

#set( $cur_folder_children = $cur_folder.getChildren() )
#set( $cur_folder_page_children = $cur_folder.getChildren( 'system-page' ) )
    
#if( $cur_folder_children.size() > 0 )
    #if( $cur_folder_page_children.size() > 1 )
        ## assuming index always exists
        #set( $indexPage = $_XPathTool.selectSingleNode( $cur_folder, "system-page[name='index']" ) )
        #set( $indexPageDisplayName = $indexPage.getChild( 'display-name' ).value )
        #set( $void = $globalStringBuffer.append( "<h4 class='navHead'><a href='index'>" ) )
        #set( $void = $globalStringBuffer.append( $indexPageDisplayName ) )
        #set( $void = $globalStringBuffer.append( "</a></h4>" ) )
    #else
        #set( $void = $globalStringBuffer.append( "RELATED LINKS" ) )
    #end
    
    #set( $void = $globalStringBuffer.append( "<ul class='nav nav-list' id='nav-left'>" ) )
    	
    #foreach( $child in $cur_folder_children )            
        #set( $child_link = $child.getChild( 'link' ).value )
        #set( $child_display_name = $_EscapeTool.xml( $child.getChild( 'display-name' ).value ) )
        #set( $is_current_page    = ( $child.getAttribute( 'current' ).value == 'true' ) )
            
        #if( $child.name == 'system-page' )
            #if( $child.getChild( 'name' ).value == 'index' )
                ## do nothing
            #elseif( $child.getAttribute( 'current' ).value == 'true' )
                #set( $void = $globalStringBuffer.append( "<li><a class='active' href='${child_link}'>$child_display_name</a></li>" ) )
            #else
                #set( $void = $globalStringBuffer.append( "<li><a class='' href='${child_link}'>$child_display_name</a></li>" ) )
            #end
        #elseif( $child.name == 'system-folder' )
            #set( $void = $globalStringBuffer.append( "<li><a href='${child_link}/index'>$child_display_name</a></li>" ) )
        #elseif( $child.name == 'system-symlink' )
            #set( $void = $globalStringBuffer.append( "<li><a href='${child_link}'>$child_display_name</a></li>" ) )
        #end
    #end
        
    #set( $void = $globalStringBuffer.append( "</ul>" ) )
#end
$globalJDOMText.normalizeString( $globalStringBuffer.toString() )