<link href="//www.hannonhill.com/_files_new/images/HannonHill.png" rel="icon" type="image/png"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="//www.hannonhill.com/_assets/css/theme.css" rel="stylesheet" type="text/css"/>
<link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"/>
<link href="//www.hannonhill.com/_assets/css/default.css" rel="stylesheet" type="text/css"/>
<link href="//www.hannonhill.com/_assets/css/animate.css" rel="stylesheet" type="text/css"/>
<link href="//www.hannonhill.com/_assets/css/yamm.css" rel="stylesheet" type="text/css"/>
<link href="//www.hannonhill.com/_assets/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
<script src="//code.jquery.com/jquery-2.1.0.min.js" type="text/javascript"></script>