#set( $hannonHillBreadcrumbs = "site://_common_assets_wing/formats/data/breadcrumbs" )
#set( $hannonHillContact     = "site://_common_assets_wing/formats/data/contact" )
#set( $hannonHillDemo        = "site://_common_assets_wing/formats/data/demo" )
#set( $hannonHillFolderNav   = "site://_common_assets_wing/formats/data/folder-nav" )
#set( $hannonHillFooter      = "site://_common_assets_wing/formats/data/footer" )
#set( $hannonHillGoogle      = "site://_common_assets_wing/formats/data/google-tag-manager" )
#set( $hannonHillLink        = "site://_common_assets_wing/formats/data/link" )
#set( $hannonHillLogo        = "site://_common_assets_wing/formats/data/logo" )
#set( $hannonHillNav         = "site://_common_assets_wing/formats/data/nav" )
#set( $hannonHillNavDemo     = "site://_common_assets_wing/formats/data/nav-demo" )
#set( $hannonHillPrcessBlock = "site://_common_assets_wing/formats/process_block" )
#set( $hannonHillScript      = "site://_common_assets_wing/formats/data/script" )
#set( $hannonHillSiteNav     = "site://_common_assets_wing/formats/data/site-nav" )