#set( $master_namespace = "hannonHill" )
#set( $master_site      = "site://_common_assets_wing" )
#import( "$master_site/formats/library/velocity/chanw_library_import" )

#chanwSetVariable( "${master_namespace}Breadcrumbs" "$master_site/formats/data/breadcrumbs" )
#chanwSetVariable( "${master_namespace}Contact"     "$master_site/formats/data/contact" )
#chanwSetVariable( "${master_namespace}Demo"        "$master_site/formats/data/demo" )
#chanwSetVariable( "${master_namespace}FolderNav"   "$master_site/formats/data/folder-nav" )
#chanwSetVariable( "${master_namespace}Footer"      "$master_site/formats/data/footer" )
#chanwSetVariable( "${master_namespace}Google"      "$master_site/formats/data/google-tag-manager" )
#chanwSetVariable( "${master_namespace}Link"        "$master_site/formats/data/link" )
#chanwSetVariable( "${master_namespace}Logo"        "$master_site/formats/data/logo" )
#chanwSetVariable( "${master_namespace}Nav"         "$master_site/formats/data/nav" )
#chanwSetVariable( "${master_namespace}NavDemo"     "$master_site/formats/data/nav-demo" )
#chanwSetVariable( "${master_namespace}Script"      "$master_site/formats/data/script" )
#chanwSetVariable( "${master_namespace}SiteNav"     "$master_site/formats/data/site-nav" )
#chanwSetVariable( "${master_namespace}PrcessBlock" "$master_site/formats/process_block" )