<div class="navbar yamm navbar-default navbar-fixed-top" role="navigation">
#if( !$hannonHillDemo || $hannonHillDemo == "" )
    #set( $hannonHillDemo = "formats/data/warning" )
#end
#import( $hannonHillDemo )
#if( !$hannonHillNav || $hannonHillNav == "" )
    #set( $hannonHillNav = "formats/data/warning" )
#end
#import( $hannonHillNav )
</div>