<div class="container nav-container">
	<div class="navbar-header">
		<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
			<span class="sr-only">Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
#if( !$hannonHillLogo || $hannonHillLogo == "" )
    #set( $hannonHillLogo = "formats/data/warning" )
#end
#import( $hannonHillLogo )
	</div>
#if( !$hannonHillSiteNav || $hannonHillSiteNav == "" )
    #set( $hannonHillSiteNav = "formats/data/warning" )
#end
#import( $hannonHillSiteNav )
</div>