#import( "site://_brisk/core/library/velocity/chanw/chanw-library-import" )

$chanwAmsterdamTimeZone
$chanwBrusselsTimeZone
$chanwLisbonTimeZone
$chanwLondonTimeZone
$chanwMadridTimeZone
$chanwParisTimeZone
$chanwViennaTimeZone
$chanwZurichTimeZone
$chanwTokyoTimeZone