#set( $site = $currentPage.Site )
$site.Class.Name
$site.Url
$site.NamingRuleCase
$site.NamingRuleSpacing
$site.NamingRuleAssets.size()

#set( $isLower = ( $site.NamingRuleCase == "LOWER" ) )
$isLower