#import( "site://_brisk/core/library/velocity/chanw/chanw-tree-utilities" )
#import( "site://_brisk/app/scaffolds/rwd5/html-tree" )

#set( $void = $chanwObjectNodeMap[ 'html' ].removeAllChildren() )
#set( $void = $chanwObjectNodeMap[ 'html' ].UserObject.remove( $TREE_NODE_CODE, $chanwObjectNodeMap[ 'html' ].UserObject[ $TREE_NODE_CODE ] ) )
#set( $void = $chanwObjectNodeMap[ 'html' ].add( $chanwObjectNodeMap[ 'main' ] ) )

#chanwDisplayTree( $chanwObjectNodeMap[ 'html' ] )

#*
html
   main
      top-element: #outputPageElement('topElement')
      middle-element
         pre-h1-choosers: #outputPageElement('preH1')
         h1: #outputPageElement('h1')
         post-h1-choosers: #outputPageElement('postH1')
         wysiwyg-container
            wysiwyg: #outputPageElement('wysiwyg')
         post-wysiwyg-choosers: #outputPageElement('postWysiwyg')
         middle-element-placeholder
      bottom-element: #outputPageElement('bottomElement')
*#