#import( "site://_brisk/core/library/velocity/chanw/chanw-tree-utilities" )
#import( "site://_brisk/app/scaffolds/rwd5/html-tree" )

#set( $void = $chanwObjectNodeMap[ 'html' ].removeAllChildren() )
#set( $void = $chanwObjectNodeMap[ 'html' ].UserObject.remove( $TREE_NODE_CODE, $chanwObjectNodeMap[ 'html' ].UserObject[ $TREE_NODE_CODE ] ) )
#set( $chanwObjectNodeMap[ 'html' ].UserObject[ $TREE_NODE_START_TAG ] = $S_ROOT_TAG )
#set( $chanwObjectNodeMap[ 'html' ].UserObject[ $TREE_NODE_END_TAG ]   = $E_ROOT_TAG )

#set( $void = $chanwObjectNodeMap[ 'html' ].add( $chanwObjectNodeMap[ 'preMain' ] ) )
#set( $void = $chanwObjectNodeMap[ 'html' ].add( $chanwObjectNodeMap[ 'main' ] ) )
#set( $void = $chanwObjectNodeMap[ 'html' ].add( $chanwObjectNodeMap[ 'postMain' ] ) )

#chanwDisplayTreeNodeRecursively( $chanwObjectNodeMap[ 'html' ] )

#*
<cascadeForcedRoot>#outputPageElement('preMain')
	<main>#outputPageElement('topElement')#outputPageElement('preH1')#outputPageElement('h1')#outputPageElement('postH1')
		<div class="row">
			<div class="col-xs-12 ">#outputPageElement('wysiwyg')</div>
		</div>#outputPageElement('postWysiwyg')#outputPageElement('bottomElement')
	</main>#outputPageElement('postMain')
</cascadeForcedRoot>
*#