#import( "site://_brisk/core/library/velocity/chanw/chanw-tree-utilities" )
#import( "site://_brisk/app/scaffolds/rwd5/html-tree" )

#set( $void = $chanwObjectNodeMap[ 'html' ].removeAllChildren() )
#set( $void = $chanwObjectNodeMap[ 'html' ].UserObject.remove( $TREE_NODE_CODE, $chanwObjectNodeMap[ 'html' ].UserObject[ $TREE_NODE_CODE ] ) )

#chanwDisplayTree( $chanwObjectNodeMap[ 'html' ] )

#*
html
*#