#set( $page = $_.locatePage( "index", "cascade-admin" ) )
#set( $sd = $page.StructuredData )
$sd.Class.Name ##=> [Lcom.hannonhill.cascade.api.asset.common.StructuredDataNode;

#foreach( $node in $sd )
    $node.Identifier
    Group: $node.isGroup()
    Asset: $node.isAsset()
    Text: $node.isText()
#end

#set( $sdn = $page.getStructuredDataNode( "main-group/h1" ) )
#if( $sdn.isText() )
WYSIWYG: $sdn.TextNodeOptions.Wysiwyg
Plain Text: $sdn.TextNodeOptions.PlainText
Checkbox: $sdn.TextNodeOptions.Checkbox
Calendar: $sdn.TextNodeOptions.Calendar
#end
 #* output:
 [Lcom.hannonhill.cascade.api.asset.common.StructuredDataNode; 
    pre-main-group
    Group: true
    Asset: false
    Text: false
    main-group
    Group: true
    Asset: false
    Text: false
    post-main-group
    Group: true
    Asset: false
    Text: false
    layout
    Group: true
    Asset: false
    Text: false
    top-group
    Group: true
    Asset: false
    Text: false
    bottom-group
    Group: true
    Asset: false
    Text: false
    admin-group
    Group: true
    Asset: false
    Text: false

WYSIWYG: false
Plain Text: true
Checkbox: false
Calendar: false
*#